/HelpingHand/.phpunit.cache
/HelpingHand/node_modules
/HelpingHand/public/build
/HelpingHand/public/hot
/HelpingHand/public/storage
/HelpingHand/storage/*.key
/HelpingHand/vendor
/HelpingHand/.env
/HelpingHand/.env.backup
/HelpingHand/.env.production
/HelpingHand/.phpunit.result.cache
/HelpingHand/Homestead.json
/HelpingHand/Homestead.yaml
/HelpingHand/auth.json
/HelpingHand/npm-debug.log
/HelpingHand/yarn-error.log
/HelpingHand/.fleet
/HelpingHand/.idea
/HelpingHand/.vscode
